body {
    --font-stack--monospace: "FiraCode Nerd Font Mono",Monaco,"SFMono-Regular",Menlo,Consolas,Liberation Mono,Lucida Console,monospace;
}

[lang^="zh"] cite {
    font-style: normal;
}

table {
    border: 1px solid var(--color-table-border);
}

/* Code */

.code-block-caption,
body[data-theme] .highlight {
    background-color: transparent;
}

.highlight pre {
    font-weight: 500;
    font-size: .9rem;
}

code.literal {
    font-size: var(--font-size--small);
}

code.sig-prename {
    font-size: var(--font-size--small)
}

/* Field list */

dd .field-list {
    width: 100%;
    border: none;
}

dd .field-list tr:first-child {
    border-top: 2px solid;
}

dd .field-list tr:last-child {
    border-bottom: 2px solid;
}

dd .field-list tr:not(:first-child) {
    border-top: 1px solid;
}

dd .field-list :is(.field-name, .field-body) {
    border: none;
    background: none;
    padding: 1em 0;
    text-align: left;
}

dd .field-list :is(.field-name, .field-body) > * {
    margin: 0;
}

/* Image */

img {
    margin: 1rem 0;
}

.strike {
    text-decoration: line-through;
}
