.translated {
    border-bottom: dashed 1px rgba(170, 170, 170, 0.5);
    position: relative;
}

.translated::after {
    color: var(--color-code-background);
    background-color: var(--color-code-foreground);
    content: attr(data);
    font-size: 0.9rem;
    border-radius: 0.2rem;
    display: inline-block;
    line-height: 1.3;
    padding: 0.2rem;
    position: absolute;
    left: 0;
    bottom: 100%;
    text-align: center;
    width: max-content;
    opacity: 0;
    visibility: hidden;
}

.translated:hover::after {
    bottom: 120%;
    opacity: 1;
    visibility: visible;
    transition: all .2s ease-in-out;
}
